/* Reset Css */
*{
    margin: 0;
    padding: 0;
}
body{}
h1,h2,h3,h4,h5,h6{}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Reset Css End */

/* Header css Start */
section.profile-main {
    width: 40%;
    margin: auto;
}
.profile-header {
    background: #581f64;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 6px 0;
    border-radius: 5px 5px 0 0;
}
.profile-banner {
    background: url(./images/cover.jpg) center no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.profile-banner {
    background: url(./images/cover.jpg) center no-repeat;
    background-size: cover;
    padding: 100px 0;
    z-index: 9;
    position: relative;
}
/* Header css End */

/* Content css Start */
.profile-content {
    background: black;
    color: #fff;
    padding: 0 20px;
}
.profile-img-box {
    width: 95px;
    height: 102px;
    border: 3px solid black;
    position: relative;
    margin-top: -61px;
    z-index: 99;
}
.profile-text h2 {
    font-size: 25px;
    margin-top: 15px;
}
.profile-text h4 {
    font-size: 13px;
    color: #ddd;
    margin-top: 10px;
}
.profile-text p {
    font-size: 18px;
    margin-top: 9px;
}
.profile-social {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
    padding: 0 15px;
}
.social-item span {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #015a82;
    line-height: 45px;
    border-radius: 50%;
}
.social-item p {
    font-size: 15px;
    margin-top: 8px;
}
/* Content Css End */

/* Footer css Start */
.profile-footer {
    background: black;
    padding: 30px 10px 10px 10px;
}
.profile-footer p {
    font-size: 13px;
    color: #ddd;
    text-align: center;
}
.footer-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 0;
    position: relative;
}
.footer-btn::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-1 {
    width: 50%;
}
.btn-2 {
    width: 50%;
}
.btn-1 span {
    color: black;
    margin-right: 5px;
    vertical-align: middle;
}
.btn-2 span {
    color: black;
    margin-right: 5px;
    vertical-align: middle;
}
/* Footer css End */